.bg {
    background-image: url(../Images/graveyard-dark.jpg);
}
.bg-header {
    background: orange;
}
.container {
    top:30px;
}
h1,h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}