html, body {
    height: 100%;
    margin: 0;
}
.bg {
    background-image: url(../Images/graveyard-dark.jpg);
    background-position: 0px 20px;
    background-size: cover;
}
.bg-header {
    background: orange;
}
.container {
    /* top:50px; */
    opacity: .5;
   /* width:5000px;*/
    /* height:750px; */
    min-height: 100%;
    min-width: 100%;;
}
h1 {
    font-size: 100px;
    text-shadow: 2px 2px black;
}
h1,h2,h3 {
    font-family: 'Creepster', cursive;
}
.pumpkin {
    width: 100px;
    position: relative;
    bottom: 10px;    
}
